.app {
  margin-left: 25rem;
  margin-right: 25rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2.5fr 1.3fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header header header"
    "sidebar feed  widget";
}
.header {
  grid-area: header;
}
.sideBar {
  grid-area: sidebar;
}
.feed {
  grid-area: feed;
}
.widget {
  grid-area: widget;
}
